@model List<RF.Model.sys_button>

@foreach (var item in Model)
{
    if (item.b_pid == 0)
    {

        List<RF.Model.sys_button> list_sub = Model.FindAll(m => m.b_pid.Equals(item.id));
        if (list_sub.Count == 0)
        {
            <button id="@item.b_id" class="@item.b_class">
                <i class="@item.b_icon"></i>@item.b_title
            </button>
        }
        else
        {
            <div class="btn-group">
                <button id="@item.b_id" class="@item.b_class" data-toggle="dropdown">
                    <i class="@item.b_icon"></i>@item.b_title <i class="caret"></i>
                </button>
                <ul class="dropdown-menu dropdown-yellow">
                    @foreach (var item_sub in list_sub)
                    {
                        <li>
                            <a id="@item_sub.b_id" href="javascript:void(0)">
                                <i class="@item_sub.b_icon"></i>@item_sub.b_title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}

<script>
    setTimeout(function () {
        if (window.z) {
            //新增 高度自适应
            z.button('add', function () {
                z.ModalAutoHeight('div.modalautoheight');
            });
            //编辑 高度自适应
            z.button('edit', function () {
                z.ModalAutoHeight('div.modalautoheight');
            });
            //配置 高度自适应
            $('#list_Config_Form').click(function () {
                z.ModalAutoHeight('div.modalautoheight');
            });
            $(window).resize(function () {
                z.ModalAutoHeight('div.modalautoheight');
            });
        }
    }, 500);
</script>